<!DOCTYPE html>
<html>
    <body>     
        <head>
            <title>Личный Дневник</title>
        </head>
    
   {% if user.is_authenticated %}
   <li>User: {{ user.get_username }}</li>
   <li><a href="{% url 'login' %}">Logout</a></li>
 {% else %}
   
   
 {% endif %} 
</ul>
    
    
    <div>
        {% if page %}
            {% for pages in page %}
            <p>{{pages.title}}</p><p>{{pages.data}}</p>
            <p>{{pages.text}}</p>
            {% endfor %}
        {% else %}
            <a>Вы не авторизованы или вы еще не создали ни одной страницы!!! Что бы увидеть свои дневник авторизируйтесь или зарегистрируйтесь</a>
        {% endif %}
    </div>
    
    </body>
</html>